/laravel/node_modules
/public_html/img
/public_html/assets/images
/laravel/storage/*.key
/laravel/vendor
/laravel/.env
/laravel/.env.backup
/laravel/.phpunit.result.cache
/laravel/Homestead.json
/laravel/Homestead.yaml
/laravel/npm-debug.log
/laravel/yarn-error.log
