$main-color: #009498;
$main-color-dark: #046E71;
$main-color-light: #06B1B5;

$text-color: #2E2E2E;
$text-normal: #4A4A4A;
$border: #707070;

$form-bg: #F5F5F5;

$footer-top: #009498;
$footer-middle: #008C90;
$footer-bottom: #007276;

$tabs-bg: #33B6BA;

$red: #FF0000;

$white: #ffffff;
$black: #000000;