
@font-face {
  font-family: 'nexa';
  src: url('../fonts/nexa-bold-webfont.eot');
  src: url('../fonts/nexa-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nexa-bold-webfont.woff2') format('woff2'),
  url('../fonts/nexa-bold-webfont.woff') format('woff'),
  url('../fonts/nexa-bold-webfont.ttf') format('truetype'),
  url('../fonts/nexa-bold-webfont.svg#nexabold') format('svg');
  font-weight: 500;
  font-style: normal;

}

@font-face {
  font-family: 'nexa';
  src: url('../fonts/nexa-book-webfont.eot');
  src: url('../fonts/nexa-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nexa-book-webfont.woff2') format('woff2'),
  url('../fonts/nexa-book-webfont.woff') format('woff'),
  url('../fonts/nexa-book-webfont.ttf') format('truetype'),
  url('../fonts/nexa-book-webfont.svg#nexabook') format('svg');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'nexa';
  src: url('../fonts/nexa-xbold-webfont.eot');
  src: url('../fonts/nexa-xbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nexa-xbold-webfont.woff2') format('woff2'),
  url('../fonts/nexa-xbold-webfont.woff') format('woff'),
  url('../fonts/nexa-xbold-webfont.ttf') format('truetype'),
  url('../fonts/nexa-xbold-webfont.svg#nexaxbold') format('svg');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-family: 'nexa';
  src: url('../fonts/nexablack-webfont.eot');
  src: url('../fonts/nexablack-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nexablack-webfont.woff2') format('woff2'),
  url('../fonts/nexablack-webfont.woff') format('woff'),
  url('../fonts/nexablack-webfont.ttf') format('truetype'),
  url('../fonts/nexablack-webfont.svg#nexablack') format('svg');
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: 'nexa';
  src: url('../fonts/nexaheavy-webfont.eot');
  src: url('../fonts/nexaheavy-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nexaheavy-webfont.woff2') format('woff2'),
  url('../fonts/nexaheavy-webfont.woff') format('woff'),
  url('../fonts/nexaheavy-webfont.ttf') format('truetype'),
  url('../fonts/nexaheavy-webfont.svg#nexaheavy') format('svg');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'nexa';
  src: url('../fonts/nexaregular-webfont.eot');
  src: url('../fonts/nexaregular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nexaregular-webfont.woff2') format('woff2'),
  url('../fonts/nexaregular-webfont.woff') format('woff'),
  url('../fonts/nexaregular-webfont.ttf') format('truetype'),
  url('../fonts/nexaregular-webfont.svg#nexaregular') format('svg');
  font-weight: 400;
  font-style: normal;

}