@import "bootstrap/bootstrap.scss";
@import "custom/fonts.scss";
@import "custom/colors.scss";
@import "custom/mixin.scss";
@import "custom/variables.scss";
@import "custom/header.scss";
@import "custom/footer.scss";
@import "custom/features.scss";
@import "custom/products.scss";
@import "custom/main-page.scss";
@import "custom/detail-page.scss";
@import "custom/basket.scss";
@import "custom/orders.scss";
@import "custom/user.scss";



html,body {
  height: 100%;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

a {
  @include transition;
  &:hover {
    text-decoration: none;
  }
}
